/* styles.css */
body, button, h1, h2, h3, h4, h5, h6, input, textarea, select, ul, li, span {
    font-family: 'Roboto', sans-serif;
}
#loading {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99999999 !important;
}
#loading-image {
    z-index: 100;
    width: 10%;
    opacity: 1;
}

.custom-header {
    background-color: #74762d;
    padding: 10px;
    color: white;
    font-family: 'Circular', sans-serif;
}

.custom-nav {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    padding: 20px;
}
.custom-logo {
    vertical-align: middle;
    border-style: none;
    width: 10%;
    max-width: 100%;
}
.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.title-head {
    color: #74762d;
}
.full-height-image {
    height: 100%;
}
.btn .btn-primary .mt-4 .w-100 .reservedBtn {
    cursor: pointer !important;
}
#openModalBtn {
    color: #74762d;
    background: transparent;
    border: solid 1px transparent;
    text-decoration: underline;
}
.fixed-height-carousel {
    height: 400px;
    overflow: hidden;
}
.fixed-height-carousel img {
    width: 100%;
    height: auto;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: #fff !important;
}
.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}
.mini-thumbnail-container {
    width: 100%;
    overflow: hidden;
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
}
.mini-thumbnail {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.dropdown ul label {
    font-size: 12px;
    font-style: italic;
}
.dropdown ul li input {
    border: 0;
    width: 30px;
    text-align: center;
}
.dropdown ul li button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-weight: normal;
    border: none;
    background: #74762d;
    color: #fff;
    font-size: 8px;
}
.done-button {
    border-radius: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background: #2196f3 !important;
    font-size: 15px !important;
}
.dropdown ul li {
    padding: 5px;
}
.dropdown ul li input:hover,
.dropdown ul li input:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: none; /* Remove any box-shadow on focus */
}
.modal {
    z-index: 999999 !important;
}
.modal-backdrop {
    z-index: 999998 !important;
}
.lightboxOverlay {
    z-index: 999998 !important;
}
.lightbox {
    z-index: 999999 !important;
}
.reservedBtn {
    background: #74762d;
}
.reservedBtn:hover {
    background: #74762d;
    border: 1px solid #74762d;
    opacity: 1;
}
.contactForm {
    background-image: url('../../assets/images/contact-background.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.contactWelcomeMessage {
    width: 80%;
}
.copyright {
    background: #74762d;
    color: #fff;
}
.footerCopyRight {
    width: 80%;
}
.footerSocial {
    background: #212529;
    color: #fff;
}
.footerSocial .footerCopyRight img {
    width: 30%;
}
.copyright .footerCopyRight a {
    text-decoration: none;
    color: #fff;
}
.terms li {
    padding: 15px;
    text-align: justify;
}
.social-icons .social-icon {
    text-decoration: none;
    color: #fff;
    border: 1px solid #74762d;
    background: transparent;
    padding: 10px; /* Adjust padding as needed */
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 7px 4px;
    border-radius: 50%;
}

/* Additional styles as needed */

/*Light Picker CSS */
:root {
    --litepicker-day-width: 14.28% !important;
}
.litepicker {
    width: 100% !important;
}
.litepicker .container__days .day-item {
    height: 85px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.is-locked {
    background: #74762d !important;
    color: #fff !important;
    border-radius: 0 !important;
}
.is-start-date {
    background: yellow !important;
    color: #000 !important;
    border-radius: 0 !important;
}
.is-end-date {
    background: yellow !important;
    color: #000 !important;
    border-radius: 0 !important;
}
.day-item {
    border-radius: 0 !important;
}
.half-background-start {
    height: 100%;
    border-radius: 0 !important;
    background: linear-gradient(135deg, white 50%, #74762d 50%);
}
.half-background-end {
    height: 100%;
    border-radius: 0 !important;
    background: linear-gradient(135deg, #74762d 50%, white 50%);
}
.daterangepicker, .daterangepicker .active, .daterangepicker .applyBtn, .daterangepicker .cancelBtn {
    border-radius: 0 !important;
    font-family: 'Roboto', sans-serif !important;
}
.jumbotron {
    position: relative;
    overflow: hidden;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for darkness */
    filter: blur(40px); /* Adjust the blur amount as needed */
    z-index: -1;
}
.custom-jumbotron {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5) !important;
    background-image: url("../../assets/images/home-1/5c363965-0a16-4ad1-8ded-199361aa5854.webp");
    background-size: cover;
    color: #000;
    min-height: 350px;
    padding-top: 80px;
    padding-bottom: 80px;
}

/* Custom Heading Styles */
.custom-heading {
    text-transform: uppercase;
    z-index: 2;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 7px;
    line-height: 80px;
    text-shadow: #000 3px 1px 4px;
    color: #fff;
}

/* Custom Form Styles */
.custom-form {
    padding: 25px;
}

.custom-form-container {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 30px;
    border-radius: 0;
}

/* Custom Button Styles */
.custom-button {
    border-radius: 0;
    text-transform: uppercase;
    background: #74762d;
    border: 1px solid #74762d;
}
.input-group-text {
    border-radius: 0;
    border-right: none;
}
.custom-form-container .input-group input {
    border-left: none;
}
.resultNotFound {
    border-radius: 0;
    padding: 20px;
}
.resultHeader {
    text-transform: uppercase;
    color: #74762d;
}
.dateRangeLabel {
    font-weight: 600;
}
.numberIndicator .numberCount {
    background: #74762d;
    padding: 7px;
    color: #fff;
    font-size: 12px;
}
.numberCountResult {
    background: #74762d;
    padding: 7px;
    color: #fff;
    font-size: 12px;
}
.contentResult {
    padding: 50px 70px 50px 70px;
    background: #cacfce;
}
.contentResultHeader {
    text-transform: uppercase;
    color: #74762d;
    font-weight: 600;
}
.modal-content {
    border-radius: 0 !important;
}
.modal-header {
    border-radius: 0 !important;
    background: #74762d;
}
.modal-content .btnClose {
    background-color: #74762d !important;
    border: 3px solid #fff !important;
    border-radius: 50% !important;
    color: #fff !important;
    width: 25px !important;
    height: 25px !important;
    padding: 0 !important;
    font-size: 1rem !important;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.modal-content .btnClose:hover {
    background-color: #fff !important;
    color: #74762d !important;
}
.daterangepicker {
    z-index: 999999 !important;
}
.availableResult {
    background: #cacfce;
    padding-top: 10px !important;
    padding-bottom: 30px !important;
    padding-left: 30px;
    padding-right: 30px;
}
.availableResult h5 {
    color: #74762d;
}